.showreel {
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: var(--base-100);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.showreel .showreel-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0.75);
  border-radius: 2rem;
  overflow: hidden;
}

.showreel .showreel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  filter: grayscale(100%);
}

.showreel .web-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30rem;
  font-weight: 900;
  color: var(--base-500);
  line-height: 1;
  pointer-events: none;
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  mix-blend-mode: difference;
}

@media (max-width: 999px) {
  .showreel .web-text {
    font-size: 20rem;
  }
}

@media (max-width: 599px) {
  .showreel .web-text {
    font-size: 15rem;
  }
}
