.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: #d6d6d6;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13vw;
}

.preloader svg {
  max-width: min(40vw, 500px);
  max-height: min(40vh, 200px);
  width: auto;
  height: auto;
}

.preloader svg#foash-logo {
  align-self: center;
}

.preloader svg#karinity-logo {
  align-self: center;
}
