footer {
  position: relative;
  width: 100vw;
  height: 100.5svh;
  background-color: var(--base-400);
  color: var(--base-100);
  padding: 2rem;
}

footer .explosion-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  overflow: hidden;
}

footer img.explosion-particle-img {
  position: absolute;
  bottom: -200px;
  left: 50%;
  width: var(--particle-size, 300px) !important;
  height: auto !important;
  border-radius: 1rem;
  object-fit: cover;
  transform: translateX(-50%);
  will-change: transform;
}

.sample-project-page footer img.explosion-particle-img {
  width: var(--particle-size, 300px) !important;
  height: auto !important;
}

footer .footer-header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

footer .footer-byline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 2rem;
}

footer .footer-byline > div {
  flex: 1;
  display: flex;
}

footer .footer-copyright {
  justify-content: flex-end;
}

footer .footer-author {
  justify-content: center;
  color: var(--base-300);
}

footer .footer-time {
  color: var(--base-300);
  justify-content: flex-start;
}

footer .footer-time span {
  color: var(--base-100);
}

footer .footer-byline p {
  font-size: 0.9rem;
}

@media (max-width: 1000px) {
  footer {
    height: 100svh;
  }

  footer .explosion-container {
    display: none;
  }

  footer .footer-header-content {
    width: 100%;
    padding: 1.25rem;
  }

  footer .footer-copyright {
    display: none !important;
  }

  footer .footer-author {
    justify-content: flex-end;
  }

  footer .footer-byline {
    padding: 1.25rem;
  }
}

/* Team Members */

.team {
  position: relative;
  width: 100%;
  height: 100%;
  color: #e3e3db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5em;
  overflow: hidden;
  z-index: 2;
}

.profile-images {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  position: relative;
  width: 70px;
  height: 70px;
  padding: 5px;
  cursor: pointer;
  will-change: width, height;
}

.img img {
  border-radius: 0.5rem;
}

.profile-names {
  width: 100%;
  height: 8.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

.name h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
  font-size: 8rem;
  font-weight: 900;
  letter-spacing: -0.2rem;
  line-height: 1;
  color: var(--accent-4);
  user-select: none;
  transform: translateY(100%);
}

.name.default h1 {
  color: #e3e3db;
  transform: translateY(-100%);
}

.name h1 .letter {
  position: relative;
  transform: translateY(0%);
  will-change: transform;
}

@media screen and (max-width: 900px) {
  .team {
    flex-direction: column-reverse;
  }

  .profile-images {
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: center;
  }

  .img {
    width: 60px;
    height: 60px;
    padding: 2.5px;
  }

  .profile-names {
    height: 4rem;
  }

  .name h1 {
    font-size: 4rem;
    letter-spacing: 0;
  }
}
